body{
    background-color: orange;
    font-family: Verdana;
    text-align: center;
}
#left{
    display: inline-block;
    text-align: left;
}

#firsthead{
    font-size: 100px;
}

h2{
  display:inline-block;
  text-align: left;
}

#linux{
    font-size: 50px;
}

#linuxtools{
    font-size: 20px;
}
