body{
    background-color: orange;
    font-family: Verdana;
    text-align: center;
}
#left{
    display: inline-block;
    text-align: left;
}

#firsthead{
    font-size: 100px;
}

h2{
  display:inline-block;
  text-align: left;
  font-size: 30px;
}

#linux{
    font-size: 50px;
}

#linuxtools{
    font-size: 25px;
}

code {
    background: #000;
    color: white;
    font-family: monospace;
    display: block;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}
p {
    font-size: 19px;
}