body{
    background-color: orange;
    font-family: Verdana;
    text-align: center;
}

#firsthead{
    font-size: 100px;
}

h2{
    position: relative;
    left: 20%;
    width: 60%;
}

#linux{
    font-size: 50px;
}
